<html>
<head>
	<title>Flickr Search Results for "winter"</title>
</head>
<body>
	<h1>Results for "winter"</h1>
	
	<div>By tags:<br />
	
		<img src="{{tag1thumbnailURL}}" alt="{{tag1title}}" width="150" height="150" href="{{tag1url}}"/>
	
		<img src="{{tag2thumbnailURL}}" alt="{{tag2title}}" width="150" height="150" href="{{tag2url}}"/>
	
		<img src="{{tag3thumbnailURL}}" alt="{{tag3title}}" width="150" height="150" href="{{tag3url}}"/>
	
	</div>
	
	<div>By comments:<br />
	
		<img src="{{comment1thumbnailURL}}" alt="{{comment1title}}" width="150" height="150" href="{{comment1url}}"/>
	
		<img src="{{comment2thumbnailURL}}" alt="{{comment2title}}" width="150" height="150" href="{{comment2url}}"/>
	
		<img src="{{comment3thumbnailURL}}" alt="{{comment3title}}" width="150" height="150" href="{{comment3url}}"/>
	
	</div>
	
	<div>By views:<br />
	
		<img src="{{view1thumbnailURL}}" alt="{{view1title}}" width="150" height="150" href="{{view1url}}"/>
	
		<img src="{{view2thumbnailURL}}" alt="{{view2title}}" width="150" height="150" href="{{view2url}}"/>
	
		<img src="{{view3thumbnailURL}}" alt="{{view3title}}" width="150" height="150" href="{{view3url}}"/>
	
	</div>
	
</body>
</html>